@use './variables';

.radio_group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.radio_group--item {
    position: relative;
    min-height: 1.5rem;
    display: flex;
    cursor: pointer;
}

.radio_group--item input {
    position: absolute;
    opacity: 0;
    inset: 0;
}

.radio_group--content {
    border-radius: 5px;
    border: 2px solid variables.$secondary-color-2;
    flex-grow: 1;
}

.radio_group--item input:checked + .radio_group--content {
    border-color: variables.$primary-color-2;
    border-width: 2px;
    background-color: variables.$secondary-color-3;
}

@media screen and (min-width: variables.$breakpoint-mobile) {
    .radio_group {
        flex-direction: row;
        gap: 1rem;
        &> * {
            flex: 1;
        }
    }
}
